*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: #FFE5CC;
    padding: 3px;
}

.bottomButtons{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 10px 0;
}

.outPutButtons{
    font-family: 'Open Sans';
    width: 45px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #FFE5CC;
}

.buttons{
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    height: 26px;
    width: 70px;
    cursor: pointer;
    border: none;
    background-color: #808080;
    color: #ffffff;
}

.headerImages{
    width: 18px;
    height: 18px;
}

.rightButtons{
    margin-right: 10px;
    display: flex;
}

.leftButtons{
    display: flex;
    background-color: white;
}

.outPutsDiv{
    display: flex;
    align-items: flex-end;
    background-color: #FFE5CC;
}

.infoOutPut{
    border: 1px solid black;
}

input{
    padding: 5px 30px 5px 5px;
    text-align: left;
    background-image: url(./assets/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 172px top 5px;
    border: none;
    border-radius: 10px;
}

.buttons:hover{
    background-color: "";
}

.outPut{
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
    margin-left: -10px;
}

/* .paragraphs{
    font-size: 10px;
} */

.scroll-div{
    background-color: red;
    height:15px;
    cursor: n-resize;
}