*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding:1px;
    background-color: #FFE5CC;
}

.bottomButtons{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 10px 0;
}

.middleButton{
    margin: 0 5px;
}

.outPutButtons{
    font-family: 'Open Sans';
    width: 45px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #FFE5CC;
}

.buttons{
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    height: 26px;
    width: 70px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.headerImages{
    width: 18px;
    height: 18px;
}

.rightButtons{
    margin-right: 20px;
    display: flex;
}

.leftButtons{
    display: flex;
    background-color: white;
    margin-left: 10px;
}

.outPutsDiv{
    display: flex;
    align-items: flex-end;
    background-color: #FFE5CC;
}

.infoOutPut{
    border: 1px solid black;
}

input{
    padding: 5px 5px 5px 30px;
    text-align: right;
    background-image: url(./assets/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left 10px top 4px;
    border:none;
    border-radius: 10px
}

.buttons:hover{
    background-color: "";
}

.outPut{
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
}